.row1{
    height: 100vh;
    width: 100%;
}

/* .bg-img { */
    /* background-image: url("../../assets/Login.svg"); */
    /* background-repeat: no-repeat; */
    /* background-position:center; */
    /* background-repeat:no-repeat; */
    /* position:relative; */
    /* background-size: cover; */
/* } */
/*  */
.bg-img {
   
    background-image: url("../../assets/Login.svg" );

    min-height:100%;
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    position:relative;
  }


  .pad{
    
    padding-top: 10%;
    padding-left: 35%;
    padding-right: 40%;
   
}












/* .padding{ */
/*     */
/*    */
    /* padding-top: 10%; */
    /* padding-left: 90%; */
    /* padding-right: 40%; */
/*     */
/*  */
/* } */