/* .row1{ */
    /* height: 100vh; */
    /* width: 100%; */
/* } */
.bg-img {
   
    background-image: url("../../assets/Login.svg" );

    min-height:100%;
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    position:relative;
  }

.mat-card{
    height: 60vh;
}

  .pad{
 
    padding-top: 10%;
    padding-left: 35%;
    padding-right: 40%;
   
}


input, textarea {
    background-color:#f3d7e7;
    border: none;

  }
  input {
      border:0;
      outline:0;
     
    }
  input:focus {
      outline:none!important;
    }

.forget{
    text-decoration: none;
    color: black;
}

.mat-card{
    height: 70vh;
}






/* .padding{ */
/*     */
/*    */
    /* padding-top: 10%; */
    /* padding-left: 90%; */
    /* padding-right: 40%; */
/*     */
/*  */
/* } */